button {
  border: none;
  background-color: rgb(20, 247, 255);
  color: white;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.09s ease-in-out;
}

button:hover {
  filter: blur(2px);
}
